.container-products{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgba(250, 235, 215, 0.219);
    padding: 20px;
    width: 280px;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    box-shadow:         3px 3px 5px 6px rgba(204, 204, 204, 0.116);
    -moz-box-shadow:    3px 3px 5px 6px rgba(204, 204, 204, 0.596);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(204, 204, 204, 0.301);
}

.delete-btn{
    position: relative;
   
}
.add-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: rgba(250, 235, 215, 0.219);
    padding: 20px;
    width: 280px;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    box-shadow:         3px 3px 5px 6px rgba(204, 204, 204, 0.116);
    -moz-box-shadow:    3px 3px 5px 6px rgba(204, 204, 204, 0.596);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(204, 204, 204, 0.301);
}


.add-btn{
    display: flex;  
    align-items: center;  
    padding: 8px 16px;  
    border-radius: 2px;  
    font-size: 14px;  
    cursor: pointer;  
    background-color: #1976d2;  
    color: white;  
    border: none;
    width: 50px;
}

input{
    margin-left: 10px;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 220px;
}

.add-btn{
    background-color: rgb(33, 126, 143);
    width: 80px ;
}

h2{
    margin-left: 20px;
    margin-top: 20px;
    color: rgba(255, 102, 0, 0.836);
}